@{
    Layout = "~/Views/Shared/_LoggedinUserLayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Bootshop online Shopping cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--Less styles -->
    <!-- Other Less css file //different less files has different color scheam
     <link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
     <link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
     <link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
     -->
    <!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
    <script src="themes/js/less.js" type="text/javascript"></script> -->
    <!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="../../Scripts/bootshop/bootstrap.min.css" media="screen" />
    <link href="../../Content/css/base.css" rel="stylesheet" media="screen" />
    <!-- Bootstrap style responsive -->
    <link href="../../Content/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="../../Content/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="../../Scripts/prettify.js" rel="stylesheet" />
    <!-- fav and touch icons -->
    @*<link rel="shortcut icon" href="themes/images/ico/favicon.ico">*@
    @*<link rel="apple-touch-icon-precomposed" sizes="144x144" href="themes/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="themes/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="themes/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="themes/images/ico/apple-touch-icon-57-precomposed.png">*@
    <style type="text/css" id="enject"></style>
</head>
<body>
    <div id="header">
        <div class="container">
            <!-- Navbar ================================================== -->
            <!-- Header End====================================================================== -->
            <div id="carouselBlk">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/glyphicons-halflings.png" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/photo1.jpg" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/logo.jpg" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/logo.jpg" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/logo.jpg" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <a href="@*register.html*@"><img style="width: 1170px; height: 396.641px" src="~/Content/img/logo.jpg" alt="special offers" /></a>
                                <div class="carousel-caption">
                                    <h4>Second Thumbnail label</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
            <div id="mainBody">
                <div class="container">
                    <div class="row">
                        <!-- Sidebar ================================================== -->
                        <div id="sidebar" class="span3">
                            <div class="well well-small">@*<a id="myCart" href="product_summary.html">*@@*<img src="themes/images/ico-cart.png" alt="cart">*@3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
                            <ul id="sideManu" class="nav nav-tabs nav-stacked">
                                <li class="subMenu open">
                                    <a> ELECTRONICS [230]</a>
                                    <ul>
                                        <li><a class="active" href="@*products.html*@"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
                                        <li><a href="@*products.html*@"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
                                        <li><a href="@*products.html*@"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
                                        <li><a href="@*products.html*@"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
                                    </ul>
                                </li>
                                <li class="subMenu">
                                    <a> CLOTHES [840] </a>
                                    <ul style="display:none">
                                        <li><a href="@*products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>
                                        <li><a href="products.html*@"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
                                    </ul>
                                </li>
                                <li class="subMenu">
                                    <a>FOOD AND BEVERAGES [1000]</a>
                                    <ul style="display:none">
                                        <li><a href="@*products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>
                                        <li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>
                                        <li><a href="products.html*@"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
                                    </ul>
                                </li>
                                <li><a href="@*products.html">HEALTH & BEAUTY [18]</a></li>
                                <li><a href="products.html">SPORTS & LEISURE [58]</a></li>
                                <li><a href="products.html*@">BOOKS & ENTERTAINMENTS [14]</a></li>
                            </ul>
                            <br />
                        </div>
                        <!-- Sidebar end=============================================== -->
                        <div class="span9">
                            <div class="well well-small">
                                <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
                                <div class="row-fluid">
                                    <div id="featured" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/b1.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/b2.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/b3.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/b4.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="item">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/5.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <i class="tag"></i>
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/6.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/7.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/8.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="item">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/9.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/10.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/11.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/1.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="item">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img src="@*themes/images/products/2.jpg*@" alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/3.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/4.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="span3">
                                                        <div class="thumbnail">
                                                            <a href="@*product_details.html*@"><img @*src="themes/images/products/5.jpg"*@ alt=""></a>
                                                            <div class="caption">
                                                                <h5>Product name</h5>
                                                                <h4><a class="btn" href="@*product_details.html*@">VIEW</a> <span class="pull-right">$222.00</span></h4>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                                        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                                    </div>
                                </div>
                            </div>
                            <h4>Latest Products </h4>
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="@*product_details.html*@"><img src="~/Content/img/logo.png" alt="" /></a>
                                        <div class="caption">
                                            <h5>Product name</h5>
                                            <p>
                                                Lorem Ipsum is simply dummy text.
                                            </p>
                                            <h4 style="text-align:center"><a class="btn" href="@*product_details.html*@"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                        </div>
                                    </div>
                                </li>
                                @*<li class="span3">
                                        <div class="thumbnail">
                                            <a href="product_details.html"><img src="themes/images/products/7.jpg" alt="" /></a>
                                            <div class="caption">
                                                <h5>Product name</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="product_details.html"><img src="themes/images/products/8.jpg" alt="" /></a>
                                            <div class="caption">
                                                <h5>Product name</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="product_details.html"><img src="themes/images/products/9.jpg" alt="" /></a>
                                            <div class="caption">
                                                <h5>Product name</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="product_details.html"><img src="themes/images/products/10.jpg" alt="" /></a>
                                            <div class="caption">
                                                <h5>Product name</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="product_details.html"><img src="themes/images/products/11.jpg" alt="" /></a>
                                            <div class="caption">
                                                <h5>Product name</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                                            </div>
                                        </div>
                                    </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer ================================================================== -->
            <footer>
                <hr style="border-top: 2px solid black" />

                FOOTER
            </footer>
            <!-- Placed at the end of the document so the pages load faster ============================================= -->
            <script src="~/Scripts/js/jquery.js" type="text/javascript"></script>
            <script src="~/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Scripts/prettify.js"></script>
            <script src="~/Scripts/js/bootshop.js"></script>
            <script src="~/Scripts/js/jquery.lightbox-0.5.js"></script>
        </div>
    </div>
</body>



